In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('4sem_data.csv')
df

,No,Roll No,Student_Name,Student_Mobile No,P_MobileNo,Student Email ID,NS_Mobile No,NP_MobileNo,New Student Email ID
0,1.000000,2.000000e+11,AGATH MILAN MALDEBHAI,9664538940,9.825213e+09,200203041001@silveroakuni.ac.in,NaN,NaN,NaN
1,2.000000,2.000000e+11,AKABARI BHAVDIP CHIMANBHAI,9408539527,9.427555e+09,200203041002@silveroakuni.ac.in,NaN,NaN,NaN
2,3.000000,2.000000e+11,BHALALA MONALI JITENDRAKUMAR,9773457958,9.909798e+09,200203041003@silveroakuni.ac.in,NaN,NaN,NaN
3,4.000000,2.000000e+11,BHAYANI UTSAV VITTHALBHAI,7046421641,9.104434e+09,200203041004@silveroakuni.ac.in,NaN,9104433505,NaN
4,5.000000,2.000000e+11,BORAD DHRUVESHKUMAR JENTILAL,7698342723,9.727418e+09,200203041005@silveroakuni.ac.in,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
445,35.563153,2.100000e+11,PATEL DEVANSHI JAYESHBHAI,7096015285,9.825752e+09,devanshi7203@gmail.com,NaN,NaN,NaN
446,35.578298,2.100000e+11,VIDHI PATEL,9054924599,9.825558e+09,patelvidhi3108@gmail.com,NaN,NaN,NaN
447,35.593444,2.100000e+11,PATIL DEEPAK PRADIP,9106292221,8.485935e+09,deepaksury054@gmail.com,NaN,NaN,NaN
448,35.608590,2.100000e+11,PRAJAPATI HEMANSHI RAKESHKUMAR,9574715975,NaN,himanshiprajapati2212@gmail.com,NaN,NaN,NaN
449,35.623736,2.100000e+11,KATHIRIYA NANDANI JAGDISHBHAI,7862840886,9.979525e+09,nandanikathiriya2003@gmail.com,NaN,8485935424,NaN

In [10]:
mob = df['P_MobileNo']
mob

0      9.825213e+09
1      9.427555e+09
2      9.909798e+09
3      9.104434e+09
4      9.727418e+09
           ...
445    9.825752e+09
446    9.825558e+09
447    8.485935e+09
448             NaN
449    9.979525e+09
Name: P_MobileNo, Length: 450, dtype: float64

In [13]:
mob[5]

7405542205.0

In [16]:
df["Pmobile_no"] = np.int(mob,index =False)

C:\Users\utamp\AppData\Local\Temp\ipykernel_1116\396281970.py:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df["Pmobile_no"] = np.int(mob,index =False)

TypeError: 'index' is an invalid keyword argument for int()